/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1601)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [QLNhaKhoa]    Script Date: 1/11/2018 5:41:01 PM ******/
CREATE DATABASE [QLNhaKhoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNhaKhoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLNhaKhoa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNhaKhoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLNhaKhoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhaKhoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhaKhoa]
GO
USE [QLNhaKhoa]
GO
/****** Object:  Table [dbo].[BENH]    Script Date: 1/11/2018 5:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENH](
	[MaBenh] [char](6) NOT NULL,
	[TenBenh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BENH] PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHAN]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHAN](
	[MaBA] [char](6) NOT NULL,
	[MaBN] [char](6) NOT NULL,
	[MaBS] [char](6) NOT NULL,
	[MaPT] [char](6) NULL,
	[MaDV] [char](6) NOT NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
 CONSTRAINT [PK_BENHAN] PRIMARY KEY CLUSTERED 
(
	[MaBA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MaBN] [char](6) NOT NULL,
	[TenBN] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nchar](5) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](15) NOT NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[NgayTiepNhan] [datetime] NOT NULL,
	[TinhTrang] [nchar](20) NOT NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MaCV] [char](6) NOT NULL,
	[MaDV] [char](6) NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONGVIEC] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [char](6) NOT NULL,
	[TenDV] [nvarchar](50) NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaBN] [char](6) NOT NULL,
	[MaBA] [char](6) NOT NULL,
	[SoLuong] [tinyint] NULL,
	[ThanhTien] [money] NOT NULL,
	[NgayLap] [datetime] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC,
	[MaBA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHHEN]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHEN](
	[MaLich] [char](6) NOT NULL,
	[MaBN] [char](6) NOT NULL,
	[MaBS] [char](6) NULL,
	[Ngay] [date] NOT NULL,
	[Gio] [time](7) NULL,
	[MaCongViec] [char](6) NULL,
 CONSTRAINT [PK_LICHHEN] PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [char](6) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
	[CMND] [char](15) NULL,
	[Luong] [money] NULL,
	[Loai] [nchar](10) NULL,
	[NgayVaoLam] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[ID] [char](6) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Gia] [money] NULL,
	[SoLuong] [int] NULL,
	[NgayNhap] [datetime] NULL,
	[BaoHanh] [date] NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEUSUBENH]    Script Date: 1/11/2018 5:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEUSUBENH](
	[MaBN] [char](6) NOT NULL,
	[MaBenh] [char](6) NOT NULL,
	[TinhTrang] [nchar](20) NULL,
 CONSTRAINT [PK_TIEUSUBENH] PRIMARY KEY CLUSTERED 
(
	[MaBN] ASC,
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_BENHNHAN] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BENHNHAN] ([MaBN])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_BENHNHAN]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_DICHVU] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_DICHVU]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_NHANVIEN] FOREIGN KEY([MaBS])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_NHANVIEN]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_NHANVIEN1] FOREIGN KEY([MaPT])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_NHANVIEN1]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_DICHVU] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_DICHVU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BENHAN] FOREIGN KEY([MaBA])
REFERENCES [dbo].[BENHAN] ([MaBA])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BENHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BENHNHAN] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BENHNHAN] ([MaBN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BENHNHAN]
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHHEN_BENHNHAN] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BENHNHAN] ([MaBN])
GO
ALTER TABLE [dbo].[LICHHEN] CHECK CONSTRAINT [FK_LICHHEN_BENHNHAN]
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHHEN_CONGVIEC] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONGVIEC] ([MaCV])
GO
ALTER TABLE [dbo].[LICHHEN] CHECK CONSTRAINT [FK_LICHHEN_CONGVIEC]
GO
ALTER TABLE [dbo].[LICHHEN]  WITH CHECK ADD  CONSTRAINT [FK_LICHHEN_NHANVIEN] FOREIGN KEY([MaBS])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[LICHHEN] CHECK CONSTRAINT [FK_LICHHEN_NHANVIEN]
GO
ALTER TABLE [dbo].[TIEUSUBENH]  WITH CHECK ADD  CONSTRAINT [FK_TIEUSUBENH_BENH] FOREIGN KEY([MaBenh])
REFERENCES [dbo].[BENH] ([MaBenh])
GO
ALTER TABLE [dbo].[TIEUSUBENH] CHECK CONSTRAINT [FK_TIEUSUBENH_BENH]
GO
ALTER TABLE [dbo].[TIEUSUBENH]  WITH CHECK ADD  CONSTRAINT [FK_TIEUSUBENH_BENHNHAN] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BENHNHAN] ([MaBN])
GO
ALTER TABLE [dbo].[TIEUSUBENH] CHECK CONSTRAINT [FK_TIEUSUBENH_BENHNHAN]
GO
USE [master]
GO
